@use "variables";

.top-picks { 
  position: relative;
  padding: 50px; 

  &__header {
    border-left: solid 5px variables.$primary;
    padding-left: 20px;
  }

  &__title {
    margin: 0;
    font-family: arial;
  }
  
  &__desc {
    opacity: 0.7;
  }
  
  &__wrapper {
    display: flex;
    margin: 0 -5px;
  }
}